<ul class="fields-focus-wap">
    <li class="fields-focus-wap-li1">
        <span class="fields-focus-wap-span1">楼盘名称</span>
        <span class="fields-focus-wap-span2">北京城建·北京合院</span>
    </li>
    <li class="fields-focus-wap-li1">
        <span class="fields-focus-wap-span1">项目特色</span>
        <span class="fields-focus-wap-span2">
            公园地产 中式地产 宜居生态地产 河景地产 名企盘
        </span>
    </li>
    <li class="fields-focus-wap-li1">
        <span class="fields-focus-wap-span1">建筑类型</span>
        <span class="fields-focus-wap-span2">
            高层 联排
        </span>
    </li>
    <li class="fields-focus-wap-li1">
        <span class="fields-focus-wap-span1">开发商</span>
        <span class="fields-focus-wap-span2">北京城建兴顺房地产开发有限公司
            <br class="fields-focus-wap-br1">
        </span>
    </li>
    <li class="fields-focus-wap-li1">
        <span class="fields-focus-wap-span1">开盘时间</span>
        <span class="fields-focus-wap-span2">
            2017年12月03日 [高层1号楼和2号楼]
        </span>
    </li>
    <li class="fields-focus-wap-li1">
        <span class="fields-focus-wap-span1">交房时间</span>
        <span class="fields-focus-wap-span2">待定</span>
    </li>
    <li class="fields-focus-wap-li1">
        <span class="fields-focus-wap-span1">售楼电话</span>
        <span class="fields-focus-wap-span2">
            400-032-5706 转 238966
        </span>
    </li>
    <li class="fields-focus-wap-li1">
        <span class="fields-focus-wap-span1">楼盘地址</span>
        <span class="fields-focus-wap-span2">顺义 燕京街与通顺路交汇口东800米（仁和公园南）</span>
    </li>
    <li class="fields-focus-wap-li1">
        <span class="fields-focus-wap-span1">装修情况</span>
        <span class="fields-focus-wap-span2">
            毛坯
        </span>
    </li>
    <li class="fields-focus-wap-li1">
        <span class="fields-focus-wap-span1">物业类型</span>
        <span class="fields-focus-wap-span2">
            普通住宅 别墅
        </span>
    </li>
    <li class="fields-focus-wap-li1">
        <span class="fields-focus-wap-span1">物业公司</span>
        <span class="fields-focus-wap-span2">北京城承物业管理有限责任公司</span>
    </li>
    <li class="fields-focus-wap-li1">
        <span class="fields-focus-wap-span1">产权年限</span>
        <span class="fields-focus-wap-span2">70年</span>
    </li>
    <li class="fields-focus-wap-li2">
        <span class="fields-focus-wap-span1">投资商</span>
        <span class="fields-focus-wap-span2">北京城建投资发展股份有限公司
            <br class="fields-focus-wap-br1">
        </span>
    </li>
</ul>