.item-focus-wap-renting {
    display: flex;
    justify-content: flex-start;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    margin: 0px 0px 24px;
    padding: 24px 0px;
    border-radius: 9.99975px;
    border-collapse: separate;
    border-spacing: 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8.00025px 30px 0px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    text-align: start;
    text-indent: 0px;
    cursor: auto;
    font: normal normal 400 normal 24px / 24px PingFangSC-Regular, "PingFang SC", "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.20025px;
    list-style: disc outside none;
    visibility: visible;
    white-space: normal;
    word-break: normal;
    word-wrap: normal;
}
.item-focus-wap-renting .item-focus-wap-renting-div2 {
    flex-basis: 170px;
    flex: 0 1 170px;
    width: 170px;
    height: 170px;
    background: rgb(248, 248, 248) url("https://static-1252921496.file.myqcloud.com/pumpkin-c/images/nangua.496a93ff.png") no-repeat scroll 50% 50% / auto padding-box border-box;
    margin: 0px 24px;
}
.item-focus-wap-renting .item-focus-wap-renting-img1 {
    width: 100%;
    height: 100%;
}
.item-focus-wap-renting .item-focus-wap-renting-ul1 {
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
    justify-content: space-between;
    flex-grow: 1;
    flex-basis: 0%;
    flex: 1 1 0%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none outside none;
}
.item-focus-wap-renting .item-focus-wap-renting-li1 {
    text-align: left;
    font: normal normal 400 normal 28px / 28px PingFangSC-Regular, "PingFang SC", "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.item-focus-wap-renting .item-focus-wap-renting-ul2 {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.item-focus-wap-renting .item-focus-wap-renting-li2 {
    text-align: left;
    list-style-type: none;
}
.item-focus-wap-renting .item-focus-wap-renting-div3 {
    display: flex;
    align-items: center;
}
.item-focus-wap-renting .item-focus-wap-renting-span1 {
    display: block;
}
.item-focus-wap-renting .item-focus-wap-renting-i1 {
    display: block;
    margin: 0px 8.00025px;
    color: rgb(238, 238, 238);
    font: italic normal 700 normal 12px / 12px PingFangSC-Regular, "PingFang SC", "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none solid rgb(238, 238, 238);
}
.item-focus-wap-renting .item-focus-wap-renting-div4 {
    display: inline-block;
    height: 21.9998px;
    margin: 18px 0px 0px;
    color: rgb(153, 153, 153);
    font: normal normal 400 normal 22px / 22px PingFangSC-Regular, "PingFang SC", "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none solid rgb(153, 153, 153);
}
.item-focus-wap-renting .item-focus-wap-renting-li3 {
    align-self: flex-end;
    margin: 0px 20.0002px 0px 0px;
    color: rgb(153, 153, 153);
    text-align: left;
    text-decoration: none solid rgb(153, 153, 153);
    white-space: nowrap;
    list-style-type: none;
}
.item-focus-wap-renting .item-focus-wap-renting-span2 {
    color: rgb(243, 141, 57);
    text-decoration: none solid rgb(243, 141, 57);
}
.item-focus-wap-renting .item-focus-wap-renting-span3 {
    text-decoration: none solid rgb(243, 141, 57);
}
.item-focus-wap-renting .item-focus-wap-renting-span4 {
    font: normal normal 700 normal 30px / 30px PingFangSC-Regular, "PingFang SC", "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none solid rgb(243, 141, 57);
}
.item-focus-wap-renting .item-focus-wap-renting-span5 {
    text-decoration: none solid rgb(153, 153, 153);
}
.item-focus-wap-renting .item-focus-wap-renting-span6 {
    display: inline-block;
    margin: 0px 9.99975px 0px 0px;
    padding: 6px 8.00025px;
    border: 1px solid rgb(97, 145, 201);
    border-radius: 30px;
    color: rgb(97, 145, 201);
    font: normal normal 400 normal 22px / 22px PingFangSC-Regular, "PingFang SC", "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none solid rgb(97, 145, 201);
}