<div class="item-focus-wap-renting">
    <div class="item-focus-wap-renting-div2">
        <img src="https://pic.kuaizhan.com/g3/41/cf/550f-3ab8-449f-a2ce-862f488e73b994?crop=1&amp;cpos=middle&amp;w=255&amp;h=255"
            class="item-focus-wap-renting-img1">
    </div>
    <ul class="item-focus-wap-renting-ul1">
        <li class="item-focus-wap-renting-li1">珠江绿洲-3居室-南北</li>
        <ul class="item-focus-wap-renting-ul2">
            <li class="item-focus-wap-renting-li2">
                <div class="item-focus-wap-renting-div3">
                    <span class="item-focus-wap-renting-span1">整租</span>
                    <i class="item-focus-wap-renting-i1">/</i>
                    <span class="item-focus-wap-renting-span1">148㎡</span>
                    <i class="item-focus-wap-renting-i1">/</i>
                    <span class="item-focus-wap-renting-span1">2/31层</span>
                </div>
                <div class="item-focus-wap-renting-div4">距离八通线传媒大学站501米</div>
            </li>
            <li class="item-focus-wap-renting-li3">
                <span class="item-focus-wap-renting-span2">
                    <span class="item-focus-wap-renting-span3">¥</span>
                    <span class="item-focus-wap-renting-span4">9000</span>
                </span>
                <span class="item-focus-wap-renting-span5">/月</span>
            </li>
        </ul>
        <li class="item-focus-wap-renting-li2">
            <span class="item-focus-wap-renting-span6">集中供暖</span>
            <span class="item-focus-wap-renting-span6">随时入住</span>
            <span class="item-focus-wap-renting-span6">有电梯</span>
        </li>
    </ul>
</div>