<div class="comment-total-focus">
    <div class="comment-total-focus-div2">
        <img src="http://t1.focus-res.cn/broker/pc-res/module/detail-comments/img/l5.png?1506593145669" class="comment-total-focus-img1">
        <span class="comment-total-focus-span1">
            <span class="comment-total-focus-span2"></span>
        </span>
        <span class="comment-total-focus-span3"> 75%</span>
    </div>
    <div class="comment-total-focus-div2">
        <img src="http://t1.focus-res.cn/broker/pc-res/module/detail-comments/img/r4.png?1506593145669" class="comment-total-focus-img1">
        <span class="comment-total-focus-span1">
            <span class="comment-total-focus-span4"></span>
        </span>
        <span class="comment-total-focus-span3"> 25%</span>
    </div>
    <div class="comment-total-focus-div2">
        <img src="http://t1.focus-res.cn/broker/pc-res/module/detail-comments/img/r3.png?1506593145669" class="comment-total-focus-img1">
        <span class="comment-total-focus-span1">
            <span class="comment-total-focus-span5"></span>
        </span>
        <span class="comment-total-focus-span3"> 0%</span>
    </div>
    <div class="comment-total-focus-div2">
        <img src="http://t1.focus-res.cn/broker/pc-res/module/detail-comments/img/r2.png?1506593145669" class="comment-total-focus-img1">
        <span class="comment-total-focus-span1">
            <span class="comment-total-focus-span5"></span>
        </span>
        <span class="comment-total-focus-span3"> 0%</span>
    </div>
    <div class="comment-total-focus-div2">
        <img src="http://t1.focus-res.cn/broker/pc-res/module/detail-comments/img/r1.png?1506593145669" class="comment-total-focus-img1">
        <span class="comment-total-focus-span1">
            <span class="comment-total-focus-span5"></span>
        </span>
        <span class="comment-total-focus-span3"> 0%</span>
    </div>
</div>