html,
body {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    height: 36px;
    width: 100%;
    background: #108ee9;
    line-height: 36px;
    .op-item {
        color: #eee;
        margin-left: 4px;
        cursor: pointer;
    }
    .op-item:hover {
        color: #fff;
        text-decoration: underline;
    }
}

#notice {
    position: fixed;
    left: 0;
    bottom: 0;
}

#main {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#main > div {
    box-sizing: border-box;
    min-width: 10px;
}

#main > div:not(:last-child) {
    border-right: 1px #108ee9 solid;
}

#resource {
    // flex: 1;
    width: 15%;
}

#treeview {
    // flex: 2;
    width: 20%;
}

#preview {
    width: 50%;
}

#setting {
    // flex: 1;
    width: 15%;
}

#status {
    height: 24px;
    width: 100%;
    background: #108ee9;
}