<div class="pagination-focus">
    <a href="https://house.focus.cn/zixun/1/" class="pagination-focus-a1">首页</a>
    <a href="https://house.focus.cn/zixun/7/" class="pagination-focus-a1">上一页</a>
        <a href="https://house.focus.cn/zixun/4/" class="pagination-focus-a1">4</a>
        <a href="https://house.focus.cn/zixun/5/" class="pagination-focus-a1">5</a>
        <a href="https://house.focus.cn/zixun/6/" class="pagination-focus-a1">6</a>
        <a href="https://house.focus.cn/zixun/7/" class="pagination-focus-a1">7</a>
        <a href="https://house.focus.cn/zixun/8/" class="pagination-focus-a2">8</a>
        <a href="https://house.focus.cn/zixun/9/" class="pagination-focus-a1">9</a>
        <a href="https://house.focus.cn/zixun/10/" class="pagination-focus-a1">10</a>
        <a href="https://house.focus.cn/zixun/11/" class="pagination-focus-a1">11</a>
        <a href="https://house.focus.cn/zixun/12/" class="pagination-focus-a1">12</a>
        <a href="https://house.focus.cn/zixun/9/" class="pagination-focus-a1">下一页</a>
    <a href="https://house.focus.cn/zixun/999/" class="pagination-focus-a1">末页</a>
</div>