<div class="item-focus-loupan">
    <a href="https://house.focus.cn/loupan/20031642.html" target="_blank" class="item-focus-loupan-a1">
        <img src="https://t1.focus-img.cn/sh160x120sh/xf/zxc/bed1c9efb2d18602ee073c114e27bf71.jpg" class="item-focus-loupan-img1">
        <span class="item-focus-loupan-span1"></span>
        <span class="item-focus-loupan-span2">效果图</span>
    </a>
    <div class="item-focus-loupan-div2">
        <p class="item-focus-loupan-p1">
            <span class="item-focus-loupan-span3">
                <a href="https://house.focus.cn/loupan/20031642.html" target="_blank" class="item-focus-loupan-a2">[首开缇香墅] 墅语人生,以宽相待</a>
                <span class="item-focus-loupan-span4">
                    <a href="https://zhibo.focus.cn/bj/loupan/20031642" target="blank" class="item-focus-loupan-a3">
                        <span class="item-focus-loupan-span5"></span>
                        <span class="item-focus-loupan-span6">9</span>
                    </a>
                    <a href="https://house.focus.cn/loupan/20031642/dianping/" target="blank" class="item-focus-loupan-a3">
                        <span class="item-focus-loupan-span7"></span>
                        <span class="item-focus-loupan-span6">35</span>
                    </a>
                </span>
            </span>
        </p>
        <div class="item-focus-loupan-div3">
            <span class="item-focus-loupan-span8">
                <span class="item-focus-loupan-span9"></span>
                <span class="item-focus-loupan-span10">通州</span> 京津高速与张采路交汇处向南1.5公里</span>
            <span class="item-focus-loupan-span11">
                <em class="item-focus-loupan-em1">38000</em>元/平米</span>
        </div>
        <a href="https://u.focus.cn/profile/154934746" target="_blank" class="item-focus-loupan-a4">
            <img src="https://t1.focus-img.cn/sh145x145sh/zx/wx/e0107521604f4886f2906d0da988ae8d.jpg" class="item-focus-loupan-img2">
            <span class="item-focus-loupan-span12">首开缇香墅</span>
            <div class="item-focus-loupan-div4"></div>
        </a>
        <div class="item-focus-loupan-div5">
            <span class="item-focus-loupan-span13">别墅</span>
            <span class="item-focus-loupan-span13">公园地产</span>
        </div>
    </div>
</div>