<div class="comment-total2-focus">
    <div class="comment-total2-focus-div2">
        <img src="http://t1.focus-res.cn/broker/pc-res/module/detail-comments/img/good.png?1506593145669" class="comment-total2-focus-img1">
        <span class="comment-total2-focus-span1">好评</span>
        <span class="comment-total2-focus-span2">
            <span class="comment-total2-focus-span3"></span>
        </span>
        <span class="comment-total2-focus-span4"> 100%</span>
    </div>
    <div class="comment-total2-focus-div2">
        <img src="http://t1.focus-res.cn/broker/pc-res/module/detail-comments/img/middle.png?1506593145669" class="comment-total2-focus-img1">
        <span class="comment-total2-focus-span1">中评</span>
        <span class="comment-total2-focus-span2">
            <span class="comment-total2-focus-span5"></span>
        </span>
        <span class="comment-total2-focus-span4"> 0%</span>
    </div>
    <div class="comment-total2-focus-div2">
        <img src="http://t1.focus-res.cn/broker/pc-res/module/detail-comments/img/bad.png?1506593145669" class="comment-total2-focus-img1">
        <span class="comment-total2-focus-span1">差评</span>
        <span class="comment-total2-focus-span2">
            <span class="comment-total2-focus-span5"></span>
        </span>
        <span class="comment-total2-focus-span4"> 0%</span>
    </div>
</div>