<div class="tabbar-focus-wap">
    <ul class="tabbar-focus-wap-ul1">
        <li class="tabbar-focus-wap-li1">
            <span class="tabbar-focus-wap-span1">楼盘</span>
        </li>
        <li class="tabbar-focus-wap-li1">
            <span class="tabbar-focus-wap-span2">直播</span>
        </li>
        <li class="tabbar-focus-wap-li1">
            <span class="tabbar-focus-wap-span2">资讯</span>
        </li>
        <li class="tabbar-focus-wap-li1">
            <span class="tabbar-focus-wap-span2">热帖</span>
        </li>
    </ul>
</div>