<div class="comment-focus-wap">
    <div class="comment-focus-wap-div2">
        <a href="https://u.focus.cn/profile/99002451397?source=0" class="comment-focus-wap-a1">
            <img src="https://t.focus-img.cn/sh80x80sh/misc/noavatar.png" class="comment-focus-wap-img1">
        </a>
        <div class="comment-focus-wap-div3">
            <p class="comment-focus-wap-p1">乱石穿空</p>
            <div class="comment-focus-wap-div4">
                <span class="comment-focus-wap-span1">
                    <i class="comment-focus-wap-i1"></i>
                    <i class="comment-focus-wap-i2"></i>
                    <i class="comment-focus-wap-i3"></i>
                </span>
                <span class="comment-focus-wap-span2">很好</span>
            </div>
        </div>
    </div>
    <p class="comment-focus-wap-p2">济南瓦特尚科技有限公司 (Jinan Wattsan Technology Limited) 从事激光机床和数控机床的生产以及销售，我司激光及数控设备可满足您的不同设计需求。</p>
    <div class="comment-focus-wap-div5">
        <div class="comment-focus-wap-div6">2017-12-19</div>
        <div class="comment-focus-wap-div7">回复(
            <span class="comment-focus-wap-span3">0</span>)</div>
        <div class="comment-focus-wap-div8">有用(
            <span class="comment-focus-wap-span4">0</span>)</div>
    </div>
    <div class="comment-focus-wap-div9">
        <div class="comment-focus-wap-div10"></div>
        <div class="comment-focus-wap-div11">
            <input type="text" class="comment-focus-wap-input1">
            <a href="javascript:;" class="comment-focus-wap-a2">发送</a>
        </div>
        <div class="comment-focus-wap-div12">
        </div>
    </div>
</div>