.comment-focus-wap {
    margin: 0px 10px;
    padding: 7px 0px 10px;
    border-bottom: 1px solid rgb(238, 238, 238);
    border-collapse: separate;
    border-spacing: 0px 0px;
    color: rgb(51, 51, 51);
    text-align: start;
    text-indent: 0px;
    cursor: auto;
    font: normal normal 400 normal 16px / 24px "PingFang SC", Arial, 微软雅黑, Helvetica, sans-serif;
    letter-spacing: normal;
    list-style: disc outside none;
    visibility: visible;
    text-decoration: none solid rgb(51, 51, 51);
    white-space: normal;
    word-break: normal;
    word-wrap: normal;
}
.comment-focus-wap .comment-focus-wap-div2 {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    margin: 0px 0px 12px;
    text-decoration: none solid rgb(51, 51, 51);
}
.comment-focus-wap .comment-focus-wap-a1 {
    display: block;
    margin: 0px 15px 0px 0px;
    padding: 8px 0px 0px;
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-decoration: none solid rgb(51, 51, 51);
}
.comment-focus-wap .comment-focus-wap-img1 {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none solid rgb(51, 51, 51);
    vertical-align: middle;
}
.comment-focus-wap .comment-focus-wap-div3 {
    flex-grow: 1;
    flex-basis: 0px;
    flex: 1 1 0px;
    position: relative;
    width: 0px;
    max-width: 100%;
    text-decoration: none solid rgb(51, 51, 51);
}
.comment-focus-wap .comment-focus-wap-p1 {
    display: inline-block;
    max-width: 200px;
    margin: 0px;
    padding: 11px 0px 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.comment-focus-wap .comment-focus-wap-div4 {
    position: absolute;
    top: 32px;
    left: 0px;
}
.comment-focus-wap .comment-focus-wap-span1 {
    display: block;
    position: relative;
    width: 86px;
    height: 14px;
    float: left;
    text-decoration: none solid rgb(51, 51, 51);
}
.comment-focus-wap .comment-focus-wap-i1 {
    background: rgb(216, 216, 216) none repeat scroll 0% 0% / auto padding-box border-box;
}
.comment-focus-wap .comment-focus-wap-i2 {
    background: rgb(255, 187, 102) none repeat scroll 0% 0% / auto padding-box border-box;
}
.comment-focus-wap .comment-focus-wap-i3 {
    background: rgba(0, 0, 0, 0) url("https://t1.focus-res.cn/front-h5/module/loupan-dianping-list/img/star.png?20180103154306") no-repeat scroll 0% 0% / 100% 100% padding-box border-box;
}
.comment-focus-wap .comment-focus-wap-span2 {
    padding: 0px 0px 0px 6px;
    color: rgb(153, 153, 153);
    font: normal normal 400 normal 14px / 14px "PingFang SC", Arial, 微软雅黑, Helvetica, sans-serif;
    text-decoration: none solid rgb(153, 153, 153);
}
.comment-focus-wap .comment-focus-wap-p2 {
    display: -webkit-box;
    margin: 0px 0px 8px;
    text-decoration: none solid rgb(51, 51, 51);
    word-break: break-all;
    overflow: hidden;
}
.comment-focus-wap .comment-focus-wap-div5 {
    color: rgb(153, 153, 153);
    font: normal normal 400 normal 12px / 18px "PingFang SC", Arial, 微软雅黑, Helvetica, sans-serif;
    text-decoration: none solid rgb(153, 153, 153);
}
.comment-focus-wap .comment-focus-wap-div5:after {
    display: block;
    clear: both;
    visibility: hidden;
    text-decoration: none solid rgb(153, 153, 153);
    content: "";
}
.comment-focus-wap .comment-focus-wap-div6 {
    float: left;
    text-decoration: none solid rgb(153, 153, 153);
}
.comment-focus-wap .comment-focus-wap-div7 {
    height: 18px;
    margin: 0px 0px 0px 10px;
    color: rgb(238, 68, 51);
    float: right;
    text-decoration: none solid rgb(238, 68, 51);
}
.comment-focus-wap .comment-focus-wap-div7:before {
    display: inline-block;
    width: 18px;
    height: 14px;
    background: rgba(0, 0, 0, 0) url("https://t1.focus-res.cn/front-h5/module/dianping-loupan-index/img/chat-light.png?20180103154306") no-repeat scroll 50% 0px / 12px 12px padding-box border-box;
    text-decoration: none solid rgb(238, 68, 51);
    vertical-align: middle;
    content: "";
}
.comment-focus-wap .comment-focus-wap-span3 {
    text-decoration: none solid rgb(238, 68, 51);
}
.comment-focus-wap .comment-focus-wap-div8 {
    height: 18px;
    margin: 0px 0px 0px 10px;
    float: right;
    text-decoration: none solid rgb(153, 153, 153);
}
.comment-focus-wap .comment-focus-wap-div8:before {
    display: inline-block;
    width: 18px;
    height: 14px;
    background: rgba(0, 0, 0, 0) url("https://t1.focus-res.cn/front-h5/module/dianping-loupan-index/img/zan.png?20180103154306") no-repeat scroll 50% 0px / 12px 12px padding-box border-box;
    text-decoration: none solid rgb(153, 153, 153);
    vertical-align: middle;
    content: "";
}
.comment-focus-wap .comment-focus-wap-span4 {
    text-decoration: none solid rgb(153, 153, 153);
}
.comment-focus-wap .comment-focus-wap-div9 {
    display: none;
    position: relative;
    width: auto;
    height: auto;
    background: rgb(248, 248, 248) none repeat scroll 0% 0% / auto padding-box border-box;
    margin: 15px 0px 0px;
    padding: 10px;
    text-decoration: none solid rgb(51, 51, 51);
}
.comment-focus-wap .comment-focus-wap-div10 {
    position: absolute;
    width: 0px;
    top: -10px;
    right: 15px;
    border-top: 0px solid rgb(255, 255, 255);
    border-right: 10px solid rgb(255, 255, 255);
    border-bottom: 10px solid rgb(248, 248, 248);
    border-left: 10px solid rgb(255, 255, 255);
}
.comment-focus-wap .comment-focus-wap-div11 {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    width: auto;
    margin: 0px 0px 20px;
}
.comment-focus-wap .comment-focus-wap-input1 {
    display: block;
    flex-grow: 1;
    flex-basis: 0px;
    flex: 1 1 0px;
    position: relative;
    width: 0px;
    height: auto;
    max-width: 100%;
    margin: 0px 10px 0px 0px;
    padding: 0px;
    border: 1px solid rgb(204, 204, 204);
    box-sizing: content-box;
    outline: rgb(0, 0, 0) none 0px;
    color: rgb(0, 0, 0);
    cursor: text;
    font: normal normal 400 normal 13.3333px / normal "PingFang SC", Arial, 微软雅黑, Helvetica, sans-serif;
    vertical-align: middle;
}
.comment-focus-wap .comment-focus-wap-a2 {
    display: block;
    width: 50px;
    height: 30px;
    background: rgb(238, 68, 51) none repeat scroll 0% 0% / auto padding-box border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
    font: normal normal 400 normal 14px / 30px "PingFang SC", Arial, 微软雅黑, Helvetica, sans-serif;
    text-decoration: none solid rgb(255, 255, 255);
}
.comment-focus-wap .comment-focus-wap-div12 {
    width: auto;
}
.comment-focus-wap .comment-focus-wap-div3>* {
    font: normal normal 400 normal 16px / 16px "PingFang SC", Arial, 微软雅黑, Helvetica, sans-serif;
    text-decoration: none solid rgb(51, 51, 51);
}
.comment-focus-wap .comment-focus-wap-span1>* {
    display: block;
    position: absolute;
    width: 86px;
    height: 14px;
    text-decoration: none solid rgb(51, 51, 51);
}
.comment-focus-wap .comment-focus-wap-div9>* {
    height: auto;
    text-decoration: none solid rgb(51, 51, 51);
}