<div class="comment-focus">
    <div class="comment-focus-div2">
        <a href="https://u.focus.cn/profile/99000519137" class="comment-focus-a1">
            <img src="https://45c1e807c0c16.cdn.sohucs.com/c_lfill,w_100,h_100,g_center/0e161dd61d01419087fbd32c10422b50.jpg"
                class="comment-focus-img1">
        </a>
        <div class="comment-focus-div3">
            <div class="comment-focus-div4">
                <h2 class="comment-focus-h21">旧人不在</h2>
                <span class="comment-focus-span1">
                    <a href="https://house.focus.cn/loupan/0.html" class="comment-focus-a2"></a>
                </span>
            </div>
            <div class="comment-focus-div5">
                <img src="http://t1.focus-res.cn/broker/pc-res/module/detail-comments/img/l5.png" class="comment-focus-img2">
                <span class="comment-focus-span2">解答耐心</span>
                <span class="comment-focus-span2">回复及时</span>
                <span class="comment-focus-span2">业务专业</span>
                <span class="comment-focus-span2">服务热情</span>
            </div>
            <p class="comment-focus-p1">专业知识很强，服务态度非常好。她的搭档也是一样的棒，非常谢谢了</p>
            <p class="comment-focus-p2">2017-07-23 19:19:36</p>
        </div>
    </div>
    <div class="comment-focus-div2">
        <a href="https://u.focus.cn/profile/99000758385" class="comment-focus-a1">
            <img src="https://45c1e807c0c16.cdn.sohucs.com/c_lfill,w_100,h_100,g_center/9a1d4d946bffc7ff55a214e0df279585.jpg"
                class="comment-focus-img1">
        </a>
        <div class="comment-focus-div3">
            <div class="comment-focus-div4">
                <h2 class="comment-focus-h21">相遇轮回cat</h2>
                <span class="comment-focus-span1">
                    <a href="https://house.focus.cn/loupan/0.html" class="comment-focus-a2"></a>
                </span>
            </div>
            <div class="comment-focus-div5">
                <img src="http://t1.focus-res.cn/broker/pc-res/module/detail-comments/img/l5.png" class="comment-focus-img2">
                <span class="comment-focus-span2">回复及时</span>
                <span class="comment-focus-span2">业务专业</span>
            </div>
            <p class="comment-focus-p1">特别贴心、靠谱的经纪，买房都来找她吧！</p>
            <p class="comment-focus-p2">2017-05-04 15:27:15</p>
        </div>
    </div>
    <div class="comment-focus-div2">
        <a href="https://u.focus.cn/profile/99000346637" class="comment-focus-a1">
            <img src="https://45c1e807c0c16.cdn.sohucs.com/c_lfill,w_100,h_100,g_center/65c6f22de106cfd866b7b618577c7710.jpg"
                class="comment-focus-img1">
        </a>
        <div class="comment-focus-div3">
            <div class="comment-focus-div4">
                <h2 class="comment-focus-h21">日耀长安城</h2>
                <span class="comment-focus-span1">
                    <a href="https://house.focus.cn/loupan/0.html" class="comment-focus-a2"></a>
                </span>
            </div>
            <div class="comment-focus-div5">
                <img src="http://t1.focus-res.cn/broker/pc-res/module/detail-comments/img/l4.png" class="comment-focus-img2">
                <span class="comment-focus-span2">回复及时</span>
                <span class="comment-focus-span2">业务专业</span>
                <span class="comment-focus-span2">服务热情</span>
            </div>
            <p class="comment-focus-p1">特别耐心，根据客户实际需求出发，推荐特别合理</p>
            <p class="comment-focus-p2">2017-03-19 03:33:17</p>
        </div>
    </div>
    <div class="comment-focus-div2">
        <a href="https://u.focus.cn/profile/99000637716" class="comment-focus-a1">
            <img src="https://45c1e807c0c16.cdn.sohucs.com/c_lfill,w_100,h_100,g_center/7b58846b789e4ec07bc9a0b8c0c27381.jpg"
                class="comment-focus-img1">
        </a>
        <div class="comment-focus-div3">
            <div class="comment-focus-div4">
                <h2 class="comment-focus-h21">纵横六道</h2>
                <span class="comment-focus-span1">
                    <a href="https://house.focus.cn/loupan/0.html" class="comment-focus-a2"></a>
                </span>
            </div>
            <div class="comment-focus-div5">
                <img src="http://t1.focus-res.cn/broker/pc-res/module/detail-comments/img/l5.png" class="comment-focus-img2">
                <span class="comment-focus-span2">业务专业</span>
                <span class="comment-focus-span2">服务热情</span>
            </div>
            <p class="comment-focus-p1">讲解周到，专业细心，对各小区房子优缺点了如指掌，非常优秀的经纪人！</p>
            <p class="comment-focus-p2">2017-03-05 22:03:04</p>
        </div>
    </div>
</div>