.comment-focus {
    border-collapse: separate;
    border-spacing: 0px 0px;
    color: rgb(51, 51, 51);
    text-align: left;
    text-indent: 0px;
    cursor: auto;
    font: normal normal 400 normal 12px / 21px Helvetica, Tahoma, Arial, "PingFang SC", "Microsoft YaHei", 微软雅黑;
    letter-spacing: normal;
    list-style: disc outside none;
    visibility: visible;
    text-decoration: none solid rgb(51, 51, 51);
    white-space: normal;
    word-break: normal;
    word-wrap: normal;
}
.comment-focus .comment-focus-div2 {
    position: relative;
    padding: 0px 0px 0px 80px;
    text-decoration: none solid rgb(51, 51, 51);
}
.comment-focus .comment-focus-a1 {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-decoration: none solid rgb(51, 51, 51);
}
.comment-focus .comment-focus-img1 {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    text-decoration: none solid rgb(51, 51, 51);
}
.comment-focus .comment-focus-div3 {
    margin: 18px 0px 0px;
    border-bottom: 1px solid rgb(229, 229, 229);
    text-decoration: none solid rgb(51, 51, 51);
}
.comment-focus .comment-focus-div4 {
    font: normal normal 400 normal 12px / 38px Helvetica, Tahoma, Arial, "PingFang SC", "Microsoft YaHei", 微软雅黑;
    text-decoration: none solid rgb(51, 51, 51);
}
.comment-focus .comment-focus-h21 {
    display: inline-block;
    margin: 0px 13px 0px 0px;
    color: rgb(41, 47, 51);
    font: normal normal 700 normal 14px / 14px Helvetica, Tahoma, Arial, "PingFang SC", "Microsoft YaHei", 微软雅黑;
    text-decoration: none solid rgb(41, 47, 51);
    vertical-align: middle;
}
.comment-focus .comment-focus-span1 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    padding: 0px 0px 0px 15px;
    color: rgb(153, 153, 153);
    font: normal normal 400 normal 12px / 12px Helvetica, Tahoma, Arial, "PingFang SC", "Microsoft YaHei", 微软雅黑;
    text-decoration: none solid rgb(153, 153, 153);
    vertical-align: middle;
}
.comment-focus .comment-focus-a2 {
    color: rgb(153, 153, 153);
    cursor: pointer;
    text-decoration: none solid rgb(153, 153, 153);
}
.comment-focus .comment-focus-div5 {
    margin: 0px 0px 14px;
    text-decoration: none solid rgb(51, 51, 51);
}
.comment-focus .comment-focus-img2 {
    text-decoration: none solid rgb(51, 51, 51);
    vertical-align: middle;
}
.comment-focus .comment-focus-span2 {
    background: rgb(239, 250, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    margin: 0px 0px 0px 10px;
    padding: 2px 4px;
    border: 1px solid rgb(192, 202, 208);
    color: rgb(118, 132, 140);
    cursor: pointer;
    font: normal normal 400 normal 12px / 12px Helvetica, Tahoma, Arial, "PingFang SC", "Microsoft YaHei", 微软雅黑;
    text-decoration: none solid rgb(118, 132, 140);
    vertical-align: middle;
}
.comment-focus .comment-focus-p1 {
    margin: 0px 0px 12px;
    color: rgb(102, 102, 102);
    font: normal normal 400 normal 14px / 22px Helvetica, Tahoma, Arial, "PingFang SC", "Microsoft YaHei", 微软雅黑;
    text-decoration: none solid rgb(102, 102, 102);
    word-wrap: break-word;
}
.comment-focus .comment-focus-p2 {
    margin: 0px 0px 20px;
    color: rgb(153, 153, 153);
    font: normal normal 400 normal 12px / 12px Helvetica, Tahoma, Arial, "PingFang SC", "Microsoft YaHei", 微软雅黑;
    text-decoration: none solid rgb(153, 153, 153);
}