<li class="item-focus-zixun">
    <a href="https://house.focus.cn/zixun/041d03410777d023.html" target="_blank" class="item-focus-zixun-a1">
        <img src="https://t1.focus-img.cn/sh160x120sh/zx/wx/30cac74e8fed6e90002df18f4812c07d.jpg" class="item-focus-zixun-img1">
        <span class="item-focus-zixun-span1"></span>
    </a>
    <div class="item-focus-zixun-div1">
        <a href="https://house.focus.cn/zixun/041d03410777d023.html" target="_blank" class="item-focus-zixun-a2">办理个人住房贷款时要注意些什么?</a>
        <p class="item-focus-zixun-p1">在中国的传统观念中,房子是家庭组成的最基本要素。如今,房价越来越高,很多人都选择申请个人住房贷款来买房,但是也有很多购房者对个人住房贷款还不是很了解。</p>
        <p class="item-focus-zixun-p2">
            <a href="https://u.focus.cn/profile/155436223" target="_blank" class="item-focus-zixun-a3">
                <img src="https://t3.focus-img.cn/sh145x145sh/misc/noavatar.png" class="item-focus-zixun-img2">
            </a>
            <a href="https://u.focus.cn/profile/155436223" target="_blank" class="item-focus-zixun-a4">北京领航金融</a>
            <span class="item-focus-zixun-span2">2018-01-04 19:59</span>
            <span class="item-focus-zixun-span3"></span>
        </p>
    </div>
</li>