<ul class="entries-focus-wap">
    <li class="entries-focus-wap-li1">
        <a href="https://m.focus.cn/bj/loupan/" class="entries-focus-wap-a1">
            <p class="entries-focus-wap-p1">
                <img src="https://t.focus-res.cn/front-h5/module/city-nav/images/new-house.png" class="entries-focus-wap-img1">
            </p>
            <p class="entries-focus-wap-p1">
                <span class="entries-focus-wap-span1">新房</span>
            </p>
        </a>
    </li>
    <li class="entries-focus-wap-li1">
        <a href="https://m.esf.focus.cn/bj/houses/" class="entries-focus-wap-a1">
            <p class="entries-focus-wap-p1">
                <img src="https://t.focus-res.cn/front-h5/module/city-nav/images/twohouse.png" class="entries-focus-wap-img1">
            </p>
            <p class="entries-focus-wap-p1">
                <span class="entries-focus-wap-span1">二手房</span>
            </p>
        </a>
    </li>
    <li class="entries-focus-wap-li1">
        <a href="https://m.esf.focus.cn/bj/rents" class="entries-focus-wap-a1">
            <p class="entries-focus-wap-p1">
                <img src="https://t-img.51f.com/sh200x150sh/xf/xc/496F25FED7DD935EDD920F5952B82FBD.png" class="entries-focus-wap-img1">
            </p>
            <p class="entries-focus-wap-p1">
                <span class="entries-focus-wap-span1">租房</span>
            </p>
        </a>
    </li>
    <li class="entries-focus-wap-li1">
        <a href="https://m.focus.cn/bj/nangua/list" class="entries-focus-wap-a1">
            <p class="entries-focus-wap-p1">
                <img src="https://t-img.51f.com/sh200x150sh/xf/xc/C6DFD7678E2CCF6D27BD0A5050B35952.png" class="entries-focus-wap-img1">
            </p>
            <p class="entries-focus-wap-p1">
                <span class="entries-focus-wap-span1">南瓜公寓</span>
            </p>
        </a>
    </li>
    <li class="entries-focus-wap-li1">
        <a href="https://home.focus.cn/" class="entries-focus-wap-a1">
            <p class="entries-focus-wap-p1">
                <img src="https://t.focus-res.cn/front-h5/module/city-nav/images/jiaju.png" class="entries-focus-wap-img1">
            </p>
            <p class="entries-focus-wap-p1">
                <span class="entries-focus-wap-span1">家居</span>
            </p>
        </a>
    </li>
    <li class="entries-focus-wap-li1">
        <a href="https://m.focus.cn/world/" class="entries-focus-wap-a1">
            <p class="entries-focus-wap-p1">
                <img src="https://t.focus-res.cn/front-h5/module/city-nav/images/icon-oversea.png" class="entries-focus-wap-img1">
            </p>
            <p class="entries-focus-wap-p1">
                <span class="entries-focus-wap-span1">海外</span>
            </p>
        </a>
    </li>
    <li class="entries-focus-wap-li1">
        <a href="https://m.zhibo.focus.cn/bj/" class="entries-focus-wap-a1">
            <p class="entries-focus-wap-p1">
                <img src="https://t.focus-res.cn/front-h5/module/city-nav/images/zhibo.png" class="entries-focus-wap-img1">
            </p>
            <p class="entries-focus-wap-p1">
                <span class="entries-focus-wap-span1">直播</span>
            </p>
        </a>
    </li>
    <li class="entries-focus-wap-li1">
        <a href="https://m.focus.cn/bj/map/" class="entries-focus-wap-a1">
            <p class="entries-focus-wap-p1">
                <img src="https://t.focus-res.cn/front-h5/module/city-nav/images/zhaofang.png" class="entries-focus-wap-img1">
            </p>
            <p class="entries-focus-wap-p1">
                <span class="entries-focus-wap-span1">地图找房</span>
            </p>
        </a>
    </li>
</ul>