<div class="tags1-focus-wap">
    <span class="tags1-focus-wap-span1">
        华瞰·墨园
        <span class="tags1-focus-wap-span2"></span>
    </span>
    <span class="tags1-focus-wap-span1">
        首开万科城市之光
        <span class="tags1-focus-wap-span2"></span>
    </span>
    <span class="tags1-focus-wap-span1">
        北京金茂府
        <span class="tags1-focus-wap-span2"></span>
    </span>
    <span class="tags1-focus-wap-span1">
        泽信公馆
        <span class="tags1-focus-wap-span2"></span>
    </span>
    <span class="tags1-focus-wap-span1">
        远洋天著春秋
        <span class="tags1-focus-wap-span2"></span>
    </span>
    <span class="tags1-focus-wap-span1">
        城建万科城
        <span class="tags1-focus-wap-span2"></span>
    </span>
    <span class="tags1-focus-wap-span1">
        金隅上城郡
        <span class="tags1-focus-wap-span2"></span>
    </span>
    <span class="tags1-focus-wap-span1">
        翡翠公园
        <span class="tags1-focus-wap-span2"></span>
    </span>
    <span class="tags1-focus-wap-span1">
        中粮京西祥云
        <span class="tags1-focus-wap-span2"></span>
    </span>
</div>