$color1: #108ee9;
$color2: #108ee9;
$color3: #666;

.flex-panels {
    display: flex;
    flex-direction: column;
    & > .flex-panel {
        flex: 1;
        display: flex;
        flex-direction: column;
        .toggler {
            height: 22px;
            font-size: 14px;
            padding: 4px;
            background-color: $color1;
            color: #fff;
            // cursor: pointer;
            display: flex;
            .label {
                flex: 1;
                text-indent: 4px;
                font-size: 12px;
                line-height: 20px;
            }
            .right-ctrls {
                display: flex;
                cursor: pointer;
                .ctrl {
                    padding: 4px;
                }
                .ctrl-r {
                    background-color: rgba(255, 255, 255, .0);
                    border: 1px #ddd solid;
                    border-radius: 2px;
                    color: #fff;
                    cursor: pointer;
                    margin-right: 4px;
                    padding: 0 6px;
                }
                .ctrl-r:hover {
                    background-color: rgba(255, 255, 255, .4);
                }
                .ctrl-r option {
                    color: #000;
                }
            }
            .ion-android-add {
                display: none;
            }
            .ion-android-remove {
                display: block;
            }
        }
        .content {
            display: block;
            flex: 1;
            overflow: auto;
        }
        .detail {
            & > div {
                display: flex;
                width: 100%;
                max-height: 100px;
                padding: 16px 0;
                border-top: 1px #ddd solid;
                box-sizing: border-box;
            }
            img {
                object-fit: contain;
                max-inline-size: -webkit-fill-available;
            }
        }
    }
    & > .flex-panel.inactive {
        flex: none;
        border-bottom: 1px solid $color3;
        .toggler {
            background-color: $color2;
            .ion-android-add {
                display: block;
            }
            .ion-android-remove {
                display: none;
            }
        }
        .content, .detail {
            display: none;
        }
    }

    .jstree-default .jstree-hovered {
        background: #fff;
    }
    .jstree-default .jstree-clicked {
        background: #5ca2f5;
        color: #fff;
    }
    .jstree-default .jstree-anchor {
        font-size: 12px;
    }
}
