<div class="timeline1-focus">
    <div class="timeline1-focus-div2"></div>
    <div class="timeline1-focus-div3">
        <div class="timeline1-focus-div4">
            <span class="timeline1-focus-span1"></span>
            <span class="timeline1-focus-span2">今天</span>
        </div>
        <div class="timeline1-focus-div5">
            创建论坛：售楼处的雪
        </div>
        <div class="timeline1-focus-div5">
            直播：售楼处的雪
        </div>
        <div class="timeline1-focus-div5">
            创建论坛：八达岭孔雀城的第一场雪
        </div>
        <div class="timeline1-focus-div5">
            直播：八达岭孔雀城的第一场雪
        </div>
        <div class="timeline1-focus-div4">
            <span class="timeline1-focus-span1"></span>
            <span class="timeline1-focus-span2">昨天</span>
        </div>
        <div class="timeline1-focus-div5">
            评论论坛：小凯带您进入生态宜居产业新城
        </div>
        <div class="timeline1-focus-div5">
            评论论坛：小凯带您进入生态宜居产业新城
        </div>
        <div class="timeline1-focus-div5">
            直播：小凯带您进入生态宜居产业新城
        </div>
        <div class="timeline1-focus-div5">
            创建论坛：小凯带您进入生态宜居产业新城
        </div>
        <div class="timeline1-focus-div4">
            <span class="timeline1-focus-span3"></span>
            <span class="timeline1-focus-span2">2018-01-04</span>
        </div>
        <div class="timeline1-focus-div5">
            创建论坛：重点中学，三甲医院，潜力社区
        </div>
        <div class="timeline1-focus-div5">
            创建论坛：紧临高科产业园，三甲医院的优质房源
        </div>
        <div class="timeline1-focus-div5">
            创建论坛：2018价格美丽，让您幸福感爆棚的房源
        </div>
        <div class="timeline1-focus-div5">
            创建论坛：高铁23分钟到西直门的稀缺房源
        </div>
        <div class="timeline1-focus-div5">
            创建论坛：让您轻松拥一个温暖的家，4.8米loft
        </div>
        <div class="timeline1-focus-div5">
            创建论坛：八达岭长城脚下的山居别墅
        </div>
        <div class="timeline1-focus-div5">
            创建论坛：稀缺资源，享受生活就在当下
        </div>
        <div class="timeline1-focus-div5">
            创建论坛：观山观水观长城，种花种树享人生
        </div>
        <div class="timeline1-focus-div5">
            创建论坛：给您一个温暖的家
        </div>
        <div class="timeline1-focus-div5">
            创建论坛：可观水库的精装loft，层高4.8米，买一层送一层
        </div>
        <div class="timeline1-focus-div5">
            创建论坛：总价低，精装修买一层送一层
        </div>
        <div class="timeline1-focus-div5">
            创建论坛：八达岭孔雀城美丽的天空
        </div>
        <div class="timeline1-focus-div5">
            直播：八达岭孔雀城美丽的天空
        </div>
        <div class="timeline1-focus-div4">
            <span class="timeline1-focus-span3"></span>
            <span class="timeline1-focus-span2">2018-01-03</span>
        </div>
        <div class="timeline1-focus-div5">
            直播：2018年的新气象
        </div>
        <div class="timeline1-focus-div5">
            创建论坛：2018年的新气象
        </div>
        <div class="timeline1-focus-div4">
            <span class="timeline1-focus-span3"></span>
            <span class="timeline1-focus-span2">2017-12-25</span>
        </div>
        <div class="timeline1-focus-div5">
            直播：圣诞快乐，小凯给大家介绍一下五彩天街
        </div>
        <div class="timeline1-focus-div5">
            创建论坛：圣诞快乐，小凯给大家介绍一下五彩天街
        </div>
        <div class="timeline1-focus-div5">
            创建论坛：八达岭孔雀山地联排别墅
        </div>
        <div class="timeline1-focus-div5">
            直播：八达岭孔雀山地联排别墅
        </div>
        <div class="timeline1-focus-div4">
            <span class="timeline1-focus-span3"></span>
            <span class="timeline1-focus-span2">2017-12-24</span>
        </div>
        <div class="timeline1-focus-div5">
            评论论坛：2018新品发布，不容错过哦
        </div>
        <div class="timeline1-focus-div5">
            评论论坛：2018新品发布，不容错过哦
        </div>
        <div class="timeline1-focus-div5">
            评论论坛：2018新品发布，不容错过哦
        </div>
    </div>
</div>