<div class="list-focus-wap-loupan">
    <div class="list-focus-wap-loupan-div2">
        <a class="list-focus-wap-loupan-a1">
            <div class="list-focus-wap-loupan-div3">
                <div class="list-focus-wap-loupan-div4">
                    <img src="https://t.focus-img.cn/sh240x180sh/bet/res/739111d1fbd8da17fe0dc8b28203fe8b.jpg" class="list-focus-wap-loupan-img1">
                    <span class="list-focus-wap-loupan-span1">效果图</span>
                </div>
                <div class="list-focus-wap-loupan-div5">
                    <p class="list-focus-wap-loupan-p1">
                        <em class="list-focus-wap-loupan-em1">北京城建·北京合院</em>
                        <span class="list-focus-wap-loupan-span2">在售</span>
                    </p>
                    <p class="list-focus-wap-loupan-p2">
                        <span class="list-focus-wap-loupan-span3">47000元/㎡</span>
                    </p>
                    <p class="list-focus-wap-loupan-p3">
                        <span class="list-focus-wap-loupan-span4">顺义-顺义老城区</span>
                    </p>
                    <p class="list-focus-wap-loupan-p4">
                        <span class="list-focus-wap-loupan-span5">高层</span>
                        <span class="list-focus-wap-loupan-span6">公园地产</span>
                        <span class="list-focus-wap-loupan-span6">普通住宅</span>
                    </p>
                </div>
            </div>
        </a>
        <a href="javascript:;" class="list-focus-wap-loupan-a2"></a>
        <a href="javascript:;" class="list-focus-wap-loupan-a3"></a>
        <div class="list-focus-wap-loupan-div6">
        </div>
    </div>
    <div class="list-focus-wap-loupan-div7">
        <a href="https://m.focus.cn/bj/loupan/20025603.html" class="list-focus-wap-loupan-a4">
            <div class="list-focus-wap-loupan-div3">
                <div class="list-focus-wap-loupan-div4">
                    <img src="https://t.focus-img.cn/sh240x180sh/xf/zxc/17bb6d59154c01477ca0fffa901e8449.jpg" class="list-focus-wap-loupan-img1">
                </div>
                <div class="list-focus-wap-loupan-div5">
                    <p class="list-focus-wap-loupan-p1">
                        <em class="list-focus-wap-loupan-em1">翡翠公园</em>
                        <span class="list-focus-wap-loupan-span2">在售</span>
                    </p>
                    <p class="list-focus-wap-loupan-p2">
                        <span class="list-focus-wap-loupan-span3">60000元/㎡</span>
                    </p>
                    <p class="list-focus-wap-loupan-p3">
                        <span class="list-focus-wap-loupan-span4">昌平-北七家</span>
                    </p>
                    <p class="list-focus-wap-loupan-p4">
                        <span class="list-focus-wap-loupan-span5">小高层</span>
                        <span class="list-focus-wap-loupan-span6">公园地产</span>
                        <span class="list-focus-wap-loupan-span6">花园洋房</span>
                    </p>
                </div>
            </div>
        </a>
        <a href="javascript:;" class="list-focus-wap-loupan-a2"></a>
        <a href="javascript:;" class="list-focus-wap-loupan-a3"></a>
    </div>
</div>