.list-focus-wap-loupan {
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    padding: 0px 10px;
    border-bottom: 1px solid rgb(238, 238, 238);
    border-collapse: separate;
    border-spacing: 0px 0px;
    color: rgb(51, 51, 51);
    text-align: start;
    text-indent: 0px;
    cursor: auto;
    font: normal normal 400 normal 16px / 24px "PingFang SC", Arial, 微软雅黑, Helvetica, sans-serif;
    letter-spacing: normal;
    list-style: disc outside none;
    visibility: visible;
    text-decoration: none solid rgb(51, 51, 51);
    white-space: normal;
    word-break: normal;
    word-wrap: normal;
}
.list-focus-wap-loupan .list-focus-wap-loupan-div2 {
    border-bottom: 1px solid rgb(238, 238, 238);
}
.list-focus-wap-loupan .list-focus-wap-loupan-a1 {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
}
.list-focus-wap-loupan .list-focus-wap-loupan-div3 {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    padding: 14px 0px;
    text-decoration: none solid rgb(51, 51, 51);
}
.list-focus-wap-loupan .list-focus-wap-loupan-div4 {
    width: 120px;
    height: 90px;
    margin: 0px 10px 0px 0px;
    padding: 1px 0px 0px;
}
.list-focus-wap-loupan .list-focus-wap-loupan-img1 {
    width: 100%;
    height: 100%;
    background: rgb(233, 233, 233) url("https://t1.focus-res.cn/front-h5/module/loupan-list/img/bg-logo.png?20180103154306") no-repeat scroll 50% 50% / 50px 19px padding-box border-box;
    text-decoration: none solid rgb(51, 51, 51);
    vertical-align: middle;
    transition: opacity 0.2s ease-in 0s;
}
.list-focus-wap-loupan .list-focus-wap-loupan-span1 {
    display: block;
    position: absolute;
    width: 37px;
    height: 15px;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0% 0% / auto padding-box border-box;
    color: rgb(238, 238, 238);
    text-align: center;
    font: normal normal 400 normal 12px / 15px PingFangSC-Regular;
    text-decoration: none solid rgb(238, 238, 238);
}
.list-focus-wap-loupan .list-focus-wap-loupan-div5 {
    flex-grow: 1;
    flex-basis: 0px;
    flex: 1 1 0px;
    width: 0px;
    max-width: 100%;
}
.list-focus-wap-loupan .list-focus-wap-loupan-p1 {
    position: relative;
    margin: 0px;
    font: normal normal 400 normal 16px / 20px "PingFang SC", Arial, 微软雅黑, Helvetica, sans-serif;
    text-decoration: none solid rgb(51, 51, 51);
    white-space: nowrap;
    overflow: hidden;
}
.list-focus-wap-loupan .list-focus-wap-loupan-em1 {
    max-width: 65%;
    margin: 0px 3px 0px 0px;
    text-overflow: ellipsis;
    font: normal normal 400 normal 16px / 20px "PingFang SC", Arial, 微软雅黑, Helvetica, sans-serif;
    text-decoration: none solid rgb(51, 51, 51);
    overflow: hidden;
}
.list-focus-wap-loupan .list-focus-wap-loupan-span2 {
    position: relative;
    top: 1px;
    left: 8px;
    background: rgb(102, 187, 51) none repeat scroll 0% 0% / auto padding-box border-box;
    padding: 0px 3px;
    border: 1px solid rgb(102, 187, 51);
    border-radius: 2px;
    color: rgb(255, 255, 255);
    font: normal normal 400 normal 12px / 14px "PingFang SC", Arial, 微软雅黑, Helvetica, sans-serif;
    text-decoration: none solid rgb(255, 255, 255);
}
.list-focus-wap-loupan .list-focus-wap-loupan-p2 {
    min-width: 168px;
    margin: 5px 0px 0px;
    text-overflow: ellipsis;
    text-decoration: none solid rgb(51, 51, 51);
    white-space: nowrap;
    overflow: hidden;
}
.list-focus-wap-loupan .list-focus-wap-loupan-span3 {
    color: rgb(238, 68, 51);
    text-decoration: none solid rgb(238, 68, 51);
}
.list-focus-wap-loupan .list-focus-wap-loupan-p3 {
    height: 14px;
    margin: 2px 30px 0px 0px;
    color: rgb(153, 153, 153);
    text-overflow: ellipsis;
    font: normal normal 400 normal 16px / 14px "PingFang SC", Arial, 微软雅黑, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    text-decoration: none solid rgb(153, 153, 153);
    white-space: nowrap;
    overflow: hidden;
}
.list-focus-wap-loupan .list-focus-wap-loupan-span4 {
    display: inline-block;
    font: normal normal 400 normal 12px / 14px "PingFang SC", Arial, 微软雅黑, Helvetica, sans-serif;
    text-decoration: none solid rgb(153, 153, 153);
}
.list-focus-wap-loupan .list-focus-wap-loupan-p4 {
    height: 20px;
    margin: 8px 0px 0px;
    font: normal normal 400 normal 12px / 20px "PingFang SC", Arial, 微软雅黑, Helvetica, sans-serif;
    text-decoration: none solid rgb(51, 51, 51);
    overflow: hidden;
}
.list-focus-wap-loupan .list-focus-wap-loupan-span6 {
    margin: 0px 0px 0px 2px;
}
.list-focus-wap-loupan .list-focus-wap-loupan-a2 {
    display: block;
    position: absolute;
    width: 34px;
    height: 34px;
    top: 16px;
    left: 86px;
    background: rgba(0, 0, 0, 0) url("https://t1.focus-res.cn/front-h5/module/loupan-list/img/btn-like.png?20180103154306") no-repeat scroll 9px 4px / 20px padding-box border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-decoration: none solid rgb(51, 51, 51);
}
.list-focus-wap-loupan .list-focus-wap-loupan-a3 {
    display: block;
    position: absolute;
    width: 44px;
    height: 44px;
    top: 34px;
    right: -10px;
    background: rgba(0, 0, 0, 0) url("https://t1.focus-res.cn/front-h5/module/loupan-list/img/btn-phone.png?20180103154306") no-repeat scroll 12px 50% / 22px 22px padding-box border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-decoration: none solid rgb(51, 51, 51);
}
.list-focus-wap-loupan .list-focus-wap-loupan-div6 {
    position: absolute;
    width: 27px;
    height: 14px;
    top: 16px;
    right: 0px;
    background: rgba(0, 0, 0, 0) url("https://t1.focus-res.cn/front-h5/module/loupan-list/img/gg-logo.png?20180103154306") repeat scroll 0px 0px / 27px 14px padding-box border-box;
    color: rgb(153, 153, 153);
    font: normal normal 400 normal 12px / 18px "PingFang SC", Arial, 微软雅黑, Helvetica, sans-serif;
    text-decoration: none solid rgb(153, 153, 153);
    overflow: hidden;
}
.list-focus-wap-loupan .list-focus-wap-loupan-a4 {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-decoration: none solid rgb(51, 51, 51);
}
.list-focus-wap-loupan>* {
    position: relative;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    text-decoration: none solid rgb(51, 51, 51);
}
.list-focus-wap-loupan .list-focus-wap-loupan-div3>* {
    position: relative;
    text-decoration: none solid rgb(51, 51, 51);
}
.list-focus-wap-loupan .list-focus-wap-loupan-p1>* {
    display: block;
    float: left;
}
.list-focus-wap-loupan .list-focus-wap-loupan-p4>* {
    display: inline-block;
    padding: 0px 3px;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 2px;
    color: rgb(153, 153, 153);
    font: normal normal 400 normal 12px / 14px "PingFang SC", Arial, 微软雅黑, Helvetica, sans-serif;
    text-decoration: none solid rgb(153, 153, 153);
}