<nav class="nav-github-profile">
    <a href="/shenfe" class="nav-github-profile-a1">
        Overview
    </a>
    <a href="/shenfe?tab=repositories" class="nav-github-profile-a2">
        Repositories
        <span class="nav-github-profile-span1">
            55
        </span>
    </a>
    <a href="/shenfe?tab=stars" class="nav-github-profile-a3">
        Stars
        <span class="nav-github-profile-span2">
            268
        </span>
    </a>
    <a href="/shenfe?tab=followers" class="nav-github-profile-a3">
        Followers
        <span class="nav-github-profile-span2">
            10
        </span>
    </a>
    <a href="/shenfe?tab=following" class="nav-github-profile-a3">
        Following
        <span class="nav-github-profile-span2">
            3
        </span>
    </a>
</nav>