<form class="search-focus-wap">
    <div class="search-focus-wap-div1">
        <span class="search-focus-wap-span1">新房</span>
        <span class="search-focus-wap-span2"></span>
    </div>
    <div class="search-focus-wap-div2">
        <div class="search-focus-wap-div3">
            <span class="search-focus-wap-span3"></span>
            <span class="search-focus-wap-span4"></span>
        </div>
        <ul class="search-focus-wap-ul1">
            <li class="search-focus-wap-li1">新房</li>
            <li class="search-focus-wap-li2">二手房</li>
            <li class="search-focus-wap-li3">家居</li>
        </ul>
    </div>
    <input placeholder="楼盘/地址/开发商" type="search" class="search-focus-wap-input1">
    <div class="search-focus-wap-div4"></div>
    <div class="search-focus-wap-div5"></div>
</form>