.live-host-focus-wap {
    display: block;
    height: 35px;
    border-collapse: separate;
    border-spacing: 0px 0px;
    color: rgb(51, 51, 51);
    text-align: left;
    text-indent: 0px;
    cursor: pointer;
    font: normal normal 400 normal 14px / 21px Helvetica, sans-serif;
    letter-spacing: normal;
    list-style: none outside none;
    visibility: visible;
    text-decoration: none solid rgb(51, 51, 51);
    white-space: normal;
    word-break: normal;
    word-wrap: normal;
    overflow: hidden;
}
.live-host-focus-wap .live-host-focus-wap-span2 {
    display: -webkit-box;
    width: 100%;
    text-decoration: none solid rgb(51, 51, 51);
}
.live-host-focus-wap .live-host-focus-wap-em1 {
    max-width: 60%;
    text-overflow: ellipsis;
    font: normal normal 400 normal 14px / 21px Helvetica, sans-serif;
    text-decoration: none solid rgb(51, 51, 51);
    white-space: nowrap;
}
.live-host-focus-wap .live-host-focus-wap-em2 {
    color: rgb(153, 153, 153);
    text-align: right;
    font: normal normal 400 normal 12px / 18px Helvetica, sans-serif;
    text-decoration: none solid rgb(153, 153, 153);
}
.live-host-focus-wap .live-host-focus-wap-span3 {
    display: block;
    width: 94%;
    background: rgba(0, 0, 0, 0) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAWCAYAAADNX8xBAAAAAXNSR0IArs4c6QAAAjlJREFUOBGVlM9rE0EUx79vdhPb2NIf/oBSBEkwFS+WCrYXtaBI1YM3RUQ8CbZ30T9B8CB4KVrwJBWPXqqIgsZTEDyJ1Ig9CKJQTTWpbWySfc6bzSzZza9mIJmXN9/vZ+fN7AuhyeBnyZMe00WAjwM06kv4m44zivgJnVl5FbVRfYJfJA9UK7QA5hP1+YaY6I3j8jU6vfLZrgUgfp4+5lUrTxkYsovtZm1cU457nmZyb0VnQLITr4zsdiH2AQYWw6TsTElSyukWIj7xmKPQMcnBVj28lIWOgxzQyDlw/h1Q+h7IHYVTyr+dINc60BA1fk9/7oJSsyGdMHRpcsW1QTFg+Kjep2sz/lyD0MgMuFwAf10Mr2uGBtn3REf7LsCZegx15D6g4k0hXvYKUFyOgGjUHLbN8moG/O8XaO801MQ84CRMOXYnBlL4YOWhmapLyWVmjAXZvjTU5CPQjl3grTwoPmzKaQshfJLSMgFEgvUcvOxlf2fbgPheyrS+/p0p0P6r/sE2nIlvt99y/ebNriylXnfsL+uKzrrv3LNfps1hmwbUvRPVdPotLSJe0RmQ6RVpwC5gps/EU/sHMKXZJ0vzFn+WcomBHptqOm/8KaF/d0/aQkQUAkni4y1wYrAX/Xv60KuBsbj/lpe3KtjUgOLqOjZ+b+LQ7bA30guCghGKuJthzqgbQyttO9BfbXroEqaUwmFdyDwRCq1ADaVp8XstfkCDWDx4E8U649yPO7iRX8Ml8nC9Lm/C/6uUzh5BDTnJAAAAAElFTkSuQmCC") no-repeat scroll 0% 3px / 9px 11px padding-box border-box;
    padding: 0px 0px 0px 12px;
    color: rgb(153, 153, 153);
    text-overflow: ellipsis;
    font: normal normal 400 normal 12px / 18px Helvetica, sans-serif;
    text-decoration: none solid rgb(153, 153, 153);
    white-space: nowrap;
}
.live-host-focus-wap>* {
    height: 18px;
    overflow: hidden;
}
.live-host-focus-wap .live-host-focus-wap-span2>* {
    display: block;
    height: 18px;
    overflow: hidden;
}